body {
    background: linear-gradient(135deg, #dbeafe, #f3e8ff);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;     ;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;

}
h1 {
    color: #6b21a8;
    margin-bottom: 1rem;
}

#affirmation {
    font-size: 1.2rem;
    color: #374151;
    margin-bottom: 1.5rem 0;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}

.fade-out {
    opacity: 0;

}

fade.in {
    opacity: 1;

}

button {
    background: #8b5cf6;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s;

}
button:hover {
    background: #6d28d9
}

